.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;

  gap: 1.5rem;

  padding: 1.5rem 3rem;

  border-radius: 2rem;

  height: 350px;

  menu {
    list-style: none;
    display: flex;
    align-items: center;

    gap: 1rem;
  }

  textarea {
    background: transparent;
    border: 0;
    resize: none;

    padding: 0 8px;

    color: var(--color-white);

    &:focus-visible {
      outline: none;
    }
  }
}

.light {
  background-color: var(--color-gray-3);
  border: 2px solid var(--color-gray-2);
}

.dark {
  background-color: var(--color-gray-4);
  border: 2px solid var(--color-gray-2);
}
